@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
p{
  margin:0;
  line-height: 1.1;
}
a{
  text-decoration: none;
  color: #000;
}

ul{
  list-style: none;
}



.container{
 
  display: flex;
  flex-direction: column;

 
  overflow-x: hidden;
  background-color: #EFEDE4;
 
}

.intro-container{
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}

.hero-section{
  display: flex;
  flex-direction: column;
  
  gap: 12px;
 
  padding-inline:9.5rem;
  padding-top: 1.2rem;
  padding-bottom: 16px;
  width:1440px;
  max-width: 100%;
  
}

.social-link{
  display: flex;
  align-items: center;
 
  gap: 12px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  
}

.logo{
  font-size: 1.7rem;
  font-weight: bold;
  
}
 
.nav-links{
  display: flex;
  
  align-items: center;
  font-weight: 600;
  gap: 64px;
}

.close{
  display: none;
}


.resume{
  border: none;
  border-radius: 12px;
  padding: .6rem 2.7rem;
  background-color: #1F2041;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
.resume:hover{
  background-color: #4e5196;
  cursor: pointer;
}
.contact{

  color: #1F2041;
  font-weight: bold;
  font-size: 1.2rem;
}
.contact:hover{
  color: #4e5196;
  cursor: pointer;
}

.nav-links a:hover{
 color:#4e5196;
}

.social-media{
  display: flex;
  gap: 12px;
  align-items: center;
}

.title1,.title3{
  font-weight: 600;
}

.title3,.title2{
  max-width: 650px;
  line-height: 1.4;
}

.title2{
font-size: 2.3rem;
font-weight: 900;
color: #1F2041;
line-height: 1.2;
}

.hero-intro{
  display: flex;
  flex-direction: column;
  gap: 32px;
  
}


.hero-text{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.CTAs{
  display: flex;
  align-items: center;
  gap: 24px;
  
}

@keyframes rotate {
  0% {
      transform: rotate(-5deg); /* Rotate image slightly clockwise */
  }
  100% {
      transform: rotate(0deg); /* Back to original rotation */
  }
}

/* .animate-line{
 border: 3px solid #1F2041; 
  transform: rotate(-5deg);
  animation: rotate 1s alternate  infinite;  
   border-radius: 20px;
  background-color: #8387ff; 
} */



.avatar{
  max-width: 350px;
 /* transform: rotate(-5deg); */
  max-height: 350px;
  margin-left: 30px;
  
  border-radius: 20px;
  /* border: 3px solid blue; */
}

.project-title{
  align-self: flex-start;
}

.projects-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-inline:9.5rem;
  margin-block: 80px;
  /* padding-bottom: 1rem; */
}

.project-container-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}



.project-title{
  font-weight: bold;
  /* margin-bottom: 12px; */
}













.img{
  max-width: 750px;
  min-height: 400px;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 0 auto;

}

.img:hover{
  transform: scale(1.1);
  
}

.project-details{
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
}

/* .project-container1{
  display: flex;
  align-items: center;
  gap: 40px;
  
  width: 100%;
} */

/* .project-container2{
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  width: 100%;
} */

.contact-me{
  padding-inline:9.5rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-block: 2.5rem;
  margin-top: 30px;
  background-color: #000000;
  color: white;
}

.fa-linkedin,.fa-envelope{
  color: white;
}

.contact-title{
  font-size: 1.2rem;
  font-weight: bold;
}

.prototype{
  color: #1F2041;
  text-decoration: underline;
  font-weight: 700;
}

.social{
  display: flex;
  flex-direction: column;
  
  /* color: white; */
  gap: 15px;
}

.social a {
  color: white;
}

@media (max-width:560px){
  
  .hero-section,.projects-section,.skills,.contact-me{
    padding-inline:24px;
   }

   .project-container1,.project-container2{
    flex-wrap: wrap;
   }

   /* .project-container2 img{
    display: none;
   } */
/*  
 
   .avatar{
    transform: rotate(0);
   } */

   .ux{
    gap: 20px;
   }

   .img{
    width: 100%;
   
   }

  .nav-links{
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    overflow-x: hidden;
    align-items: flex-start;
    padding: 6rem 2rem;
    gap: 2.5rem;
    background-color:hsla(58, 87%, 42%, 0.1);
    backdrop-filter: blur(2rem);
    transform: translateX(100%);
    z-index: 9999;
    transition: transform 250ms ease-out;
  }
  
  .nav-links[data-visible="true"]{
    transform: translateX(0%);
  }

  .hero-intro{
    gap: 1.3rem;
  }

  .social-media{
    display: none;
  }

  .fa-xmark{
    position: fixed;
  }

  .close{
    display: inline-block;
    position:absolute;
    z-index:9999;
    font-size: 1.4rem;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .resume{
    padding: 1.1rem 1.7rem;
    font-size: 1.2rem;
  }

  .contact{
    font-size: 1.2rem;
  }
  
  .logo{
    margin-top: .7rem;
  }

  .intro-container{
    flex-direction: column-reverse;
  }

  .avatar{
    max-width: 180px;
    min-height: 180px;
    z-index: -1;
    margin-bottom: 25px;

  }
 
}



